@mainbg: #f5f7fa;
@navbar-bg: #57ccf0; // light blue
@navbar-height: 50px;
@navbar-fontsize: 26px;

@navpanel-bg: white;
@navpanel-bg-hover: #fafafa;

@profile-footer-bg: #eb7f00;

@radius: 5px;

@profile-avatar-diameter:126px;
@profile-avatar-chat-diameter:62px;

@sb-notifi: #bbb;

@bodytext: #8F8F8F;

/* latest activities */ 
@red: #b00000;
@orange: #eb7f00;
@green: #3d9905;
@toggle-green: #679a00;
@lightblue: @navbar-bg;